.container {
    display: flex;
    /*float: left;
    flex-direction: row; */
    width: 100%;
    overflow-y: auto;
    /*border: 3px solid black;*/
}

.leftsb {
    position: fixed;
    /* 시작 위치 */
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    border-right: 3px solid lightgrey;
}

.container .leftsb .header {
    margin: 1vh;
    padding-bottom: 5vh;
    /*border: 3px solid aqua*/
}

.container .leftsb .menu {
    display:flex;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    /*border: 3px solid black;*/
    font-weight: 500;
    margin:3px;

}

.container .leftsb .menu:hover {
    background-color: lightgrey;
    font: bold;
}

.container .leftsb .post_button_box {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 1vh;
    height: 3vh;
}

.container .leftsb .post_button_box .post_btn {
    width: 100%;
    height: 3.5vh;
    background-color: #bfdffd;
    border: 1px solid #bfdffd;
    border-radius: 4px;
}

.container .leftsb .post_button_box .post_btn:hover {
    cursor:pointer;
}

.container .middle {
    position: absolute;
    top: 0;
    left: 30%;
    right: 40%;
    height: auto;
}

.leftsb .post_button_box .post_btn:hover {
    background-color: #1c7ed6;
}

.rbox {
    position: absolute;
    top: 4vh;
    right: 20vh;
    width: 20%;
    height: auto;
    /* 객체 맞게 height 설정 */
}

.rbox .user_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 8vh;
    padding-left: 1rem;
}

.rbox .recommend_box{
    display: flex;
    position: relative;
    width: 100;
    height: 4vh;
    align-items:center;
}

.rbox .user_box .face {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    /*border: 1px solid black;*/
    border-radius: 100%;
}

.rbox .user_box .infos {
    padding-left: 1rem;
    flex-direction: column;
    /*border: 3px solid black;*/
    width: 50%
}

.rbox .user_box .button_box {
    display: flex;
    /*border: 3px solid red;*/
    justify-content: center;
    align-items: center;
    width: 40%
}

.rbox .user_box .button_box .follow_button{
    border:#fafafa;
    background-color: inherit;
    font-style: normal;
    font-weight: 800;
    color:#1c7ed6;
}

.rbox .user_box .button_box .follow_button:hover {
    color:navy;
    cursor:pointer;
}

/* 스토리 바 */
.middle .topbar {
    display:flex;
    justify-content: space-between;
    width: auto;
    height: 10vh;
    /*border: 3px solid black;*/
}

.topbar .storybox{
    display: flex;
    flex-direction: column;
    width:9vh;
    height:auto;
    /*border: 3px solid black;*/
    align-items: center;
}

.storybox .user_img{
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    margin-top : 0.5rem;
}

.storybox .user_id{
    width: 6vh;
    height: 3vh;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    margin-top: 0.2rem;
}

.feedhead {
    height: 60px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.feedhead .profile_img {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
    /*원형으로*/
    border: 3px solid #fafafa;
}

.feedhead .user_id {
    margin: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(36, 36, 36);
}

.feedhead .delete_btn {
    margin-left: auto; /*이거 안쓰고 어케 오른쪽으로 붙임? */
    /* position:absolute; */
    /* right: 10px; */
    width: 4vh;
    height: 4vh;
    text-align: center;
    font-size: 16px;
    font-weight:500;
    background-color: red;
    border-radius:30%;
    border:none;
}

.feedhead .delete_btn:hover{
    cursor: pointer;
    background-color: palevioletred;
}

.middle .feed_picture {
    width: 100%;
    height: 450px;
    max-height: 450px;
    display: block;
    padding-bottom:5px;
}

.middle .feed_bottom {
    height: 20vh;
    border-bottom: 3px solid black;
}

.feed_icons{
    display:flex;
    align-items: center;
    height: 4vh;
}

.feedicon{
    width: 28px;
    height: 28px;
    border: 1px solid #fafafa;
    padding-right: 5px;
}

.feed_likes{
    height: 3vh;
    padding-top:5px;
    padding-bottom: 5px;
}

.feed_header{
    height: 3vh;
}

.feed_getcomments{
    height: 3vh;
}

.feed_writecomments{
    height: 3vh;
}